@{
    ViewData["Title"] = "Página Inicial";
}

<link rel="icon" href="\MeuSiteEmMVC\MeuSiteEmMVC\img\lista.png" type="image/x-icon">

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sistema de controle de Contatos</p>
    
</div>
